PORT=3000

DB_HOST=postgres
DB_PORT=5432
DB_NAME=tecarral
DB_USER=tecarral_user
DB_PASSWORD=pon_una_password_muy_segura

JWT_SECRET=pon_un_secret_largo_y_seguro
JWT_EXPIRES_IN=15m
JWT_ISSUER=tecarral-api
JWT_AUDIENCE=tecarral-app

EXPIRE_JOB_ENABLED=true
EXPIRE_JOB_LIMIT=1000

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=tu_correo
SMTP_PASS=tu_app_password

PUBLIC_BASE_URL=http://IP_RESERVADA:3000

MAIL_FROM_NAME=Tecarral
MAIL_FROM_EMAIL=tu_correo

RUN_MAQUINARIA_SEED=false

BOOTSTRAP_ADMIN_EMAIL=admin@tecarral.com
BOOTSTRAP_ADMIN_NOMBRE=Administrador Principal
BOOTSTRAP_ADMIN_TELEFONO=600000000
BOOTSTRAP_ADMIN_ROLE=admin
