PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=tecarral
DB_USER=tecarral_user
DB_PASSWORD=your_db_password

JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=8h

JWT_ISSUER=jwt_issuer_example-api
JWT_AUDIENCE=jwt_audience_example-app

EXPIRE_JOB_ENABLED=true
EXPIRE_JOB_LIMIT=1000

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true

SMTP_USER=your_email@example.com
SMTP_PASS=your_smtp_password

PUBLIC_BASE_URL=http://localhost:3000

MAIL_FROM_NAME=Tecarral
MAIL_FROM_EMAIL=your_email@example.com
REPAIR_BUDGET_INTERNAL_EMAIL=internal_budgets@example.com

RUN_MAQUINARIA_SEED=false

BOOTSTRAP_ADMIN_EMAIL=admin@tecarral.com
BOOTSTRAP_ADMIN_NOMBRE=Administrador Principal
BOOTSTRAP_ADMIN_TELEFONO=600000000
BOOTSTRAP_ADMIN_ROLE=admin
